#friendship{
	width:80%;
	height: auto;
	float:left;
}
#friend_list{
	margin: 5px 0 10px 0px;
	width: 18%;
	height:auto;
	border-bottom: 1px solid #ccc;
	padding-bottom:10px;
	float:left;
}

#friend_list .friend_list{
	background: url("../images/friend_list-small.png") left center no-repeat;
	padding:0px 0px 0px 5px;
}

#friend_list .friend_list a{
	display: block;
	text-decoration: none;
	padding: 3px 5px 3px 18px;
}

#friend_list .friend_list a:hover{
	background-color: #f0f0f0;
	background-image: url("../images/friend_list-small.png");
	background-repeat: no-repeat;
	background-position: -5px 0;
	
}
.friends_item{
	width: 620px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	height: auto;
	margin: 5px 0 0px 5px;
}
.friend_tag_area{
	margin: 0px 0px 5px 5px;
	padding:10px;
	width:600px;
	min-height:35px;
	height:auto;
	background:#F0F0F0;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
.friends_list_item{
	width: 690px;
	border: 1px solid #ccc;
	height: 70px;
	margin: 5px 0 5px 5px;
	cursor: move;
}
.friends_item img{
	border: 0;
}
.friends_avatar{
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}
.friends_name{
	float: left;
	width:290px;
	height: auto;
	margin: 0 10px 0 10px;
	
	
}
.friends_name_fof{
	float: left;
	width: 390px;
	height: auto;
	margin: 0 10px 0 10px;
	
}


.friends_name_request{
	float: left;
	width:290px;
	height: auto;
	margin: 0 10px 0 10px;
	
	
}
.friends_name a,.friends_name_request a, .friends_name_fof a{
	color:#ef451e;
	text-decoration: none;
}

.friends_name p, .friends_name_request p,.friends_name_fof p{
	font-weight:bold;
	
	top:0px;
	
}
.follow_unfollow{
	width: 70px;
	float: left;
	height: 50px;
	margin: 10px;
	
}

.fof_add_friend{
	width: 113px;
	float: left;
	height: 50px;
	margin: 10px 3px;
}


.follow_unfollow_request{
	width: 80px;
	float: left;
	height: 50px;
	margin: 10px;
	
}
.follow_unfollow p,.follow_unfollow_request p, .fof_add_friend p{
	vertical-align: middle;	
	margin-top:12px !important;
	margin-top:0;
	background:url(../images/panel_bg.jpg) repeat-x;
	border:1px solid #bbbbbb;
	cursor:pointer;
	padding: 5px;
}
.edit_friends_list{
	float: left;
	width: 14%;
	height: 50px;
	margin: 10px 0 0 0;
	display: table-cell;
	text-align: center;
	
}
.edit_friends_list_request{
	float: left;
	width: 14%;
	height: 50px;
	margin: 10px 0 0 0;
	display: table-cell;
	text-align: center;
	
}
.friends_list_name{
	float: left;
	width:350px;
	height: 50px;
	margin: 10px;
}
.friends_list_name p{
	cursor: pointer;
}

.invite_friends_list{
	float: left;
	width: 120px;
	height: 50px;
	margin: 10px 0 0 10px;
	
	text-align: center;
	
}
.edit_friends_list p,.edit_friends_list_request p,.invite_friends_list p{
	font-weight:bold;
	vertical-align: middle;	
	top: 5%;
	background:url(../images/panel_bg.jpg) repeat-x;
	padding: 5px 0;
	border: 1px solid #ccc;
	cursor: pointer;
}
.edit_friends_list a,.edit_friends_list_request a,.invite_friends_list a{
	display: block;
	text-decoration: none;
}
.delete_friends_list{
	float: left;
	width: 35px;
	height: 50px;
	margin: 10px 0 0 10px;
	display: table-cell;
	text-align: center;
	border-left: 1px solid #ccc;
	
}
.delete_friends_list p{
	font-weight:bold;
	vertical-align: middle;	
	position:relative;
	top: 12%;
	
	
}
.delete_friends_list p a{
	cursor: pointer;
	padding:5px 10px 5px 10px;
	background-image:url("../images/delete.png"); 
	background-repeat:no-repeat;
	background-position:10px 0px;
	text-decoration: none;
	display: block;
	
}
.delete_friends_list p a:hover{
	background-image:url("../images/delete_hover.png"); 
	background-repeat:no-repeat;
	background-position:5px -3px;
	display: block;
	
}
.friend_search{
	margin: 5px;
	text-align: right;
}
.invite_friends_text{
	width:97% !important;
	width:89%;
	height:174px;
	background:url(../images/shadow_gradient.gif) repeat-x bottom left;
	border: 1px solid #ccc;
	margin: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.the_benefit{
	width:100%;
	height:174px;
	margin: 20px;
	float: left;
	
}
.invite_friends{
	width: 98%;
	border: 1px solid #ccc;
	height: auto;
	margin: 5px 0 5px 5px;
	
}
.invite_email{
	width: 350px;
	height:auto;
	float: left;
	margin: 10px;
	border-right: 1px solid  #ccc;
	padding-right: 50px;
}
.invite_email strong,.invite_contacts strong{
	margin: 10px 0;
	color:#ef451e;
}
.invite_contacts{
	width:300px;
	height: auto;
	float: left;
	margin: 10px;
	padding-left: 10px;
}

.iservices{
	float: left;
	width: 161px;
	height: 60px;
	overflow: hidden;
	margin: 5px;
}

a.button_add_friend{
	text-decoration: none;
	font-weight:bold;
	font-size:12px;
	padding: 5px 2px;
	
}
a.button_add_friend_user{
	text-decoration: none;
	
	background:url(../images/panel_bg.jpg) repeat-x;
	height:30px;
	border:1px solid #bbbbbb;
	cursor:pointer;
	margin:1px;
	
	font-weight:bold;
	font-size:12px;
	padding: 5px;
}
.add_new_friend_list_box{
	width:670px;
	margin:20px 0 10px 5px;
	padding:10px;
	border: 1px dashed #bbbbbb;
}
.fl_item{
	width:185px;
	height:60px;
	border:1px solid #ccc;
	margin:5px 5px;
	cursor: pointer;
	float:left;
}
.fl_image{
	width:50px;
	height:50px;
	overflow:hidden;
	margin:5px 5px;
	float:left;
}
.fl_name{
	width:110px;
	height:50px;
	overflow:hidden;
	margin:5px 5px;
	float:left;
	font-weight:bold;
}