/*LOGIN FORM*/
.login_form{
	margin:10px auto 0 auto;
	border-bottom:1px solid #ccc;
	width:100%;
	height:auto;
	background:#ffffff no-repeat 120px 50px;
	padding:25px 0px 25px 0px;
}
.login_yellow{
	background:#FFF;
	width:340px;
	height:auto;
	margin:1px auto;
	padding:5px;
	color:#333;
	font-size:15px;
}

.login_text{
	font-size:18px;	
	height:30px;
	width:340px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #999;
	margin: 0;
	padding: 0;
}
.login_btn_wrp{
	margin:0 auto;
	width:340px;
	height:auto;
	
}
.login_btn{
	background:#f26531;
	font-size:18px;
	color:#ffffff;
	border:0;
	padding:5px;
	margin:0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: 1px solid #ef451e;
}
.alert_login{
	margin:10px auto 10px auto;
	width:340px;
	height:auto;
}
.lost_password{
	width:284px;
	height:auto;
	margin:10px auto 0 auto;
	padding:0;
	
}
.lost_password a{
	color:#ef571e;
	font-size:12px;
}
.signup_form{
	margin:50px auto 0 auto;
	border:1px solid #ccc;
	width:450px;
	background-color:#ffffff;
	padding:77px 10px 25px 20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
