.profile_img{
	width:152px;
	height:auto;
	margin-bottom: 10px;
}
.profile_img img{
	
	margin: 0 0 0 5px;
}
.profile_img a{
	color:#ef451e;
	text-decoration: none;
}
#profile_right{
	width:226px !important;
	width:200px;
	height:auto;
	margin-left:5px;
	margin-bottom:10px;
	float:left;
	
}
#profile_right h2,.work h2,.education h2{
	font-weight: bold;
	font-size: 12px;
	background: #f0f0f0;
	color:#333;
	border-top: 1px solid #ccc;
	padding:3px;
}
.profile_line{
	border-bottom: 1px solid #F0F0F0;
	padding-bottom: 10px;
}

.expertise_item{
	padding:10px;
	float:left;
	border:1px solid #CCC;
	margin: 5px 5px 5px 0;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

.expert_tag_list{
	margin:3px;
	padding:5px;
	border:1px solid #bbbbbb;
	width:auto;
	height:20px;
	float:left;
}
.expert_tag_name{
	float:left;
	width:auto;
	height:20px;
	padding-right: 3px;
	
}

.expert_tag_action{
	float:left;
	width:10px;
	height:auto;
	border-left:1px solid #ccc;
	text-align:center;
}
.expert_tag_action a{
	display:block;
	text-decoration:none;
}

.work{
	float:left;
	width:45%;
	height: auto;
	padding: 10px 10px 10px 10px;
}
.education{
	float:left;
	width:45%;
	height: auto;
	padding: 10px 10px 10px 10px;
	border-right: 1px solid #f0f0f0;
}
.eduwork_list{
	margin:10px 0;
}
.the_school{
	background: url("../images/school.png") left center no-repeat;
	width:83%;
	height: 50px;
	padding-left:60px; 
	margin:10px;
	cursor: pointer;
	
}
.the_work{
	background: url("../images/office.png") left center no-repeat;
	width:83%;
	height: 50px;
	padding-left:60px; 
	margin:10px;
	cursor: pointer;
	
}
.the_school label,.the_work label{
	font-size: 10px;
	color:#ccc;
}
.the_school  .shool_name,.the_work  .comp_name{
	float:left;
	width:200px;
	
}
.the_school  .action,.the_work  .action{
	float:left;
	width:80px;
	text-align: right;
	
}